.film-review__badge {
    font-size: 0.8em;
    margin-right: 3%;
}
.film-review__badge:last-child {
    margin-right: 0;
}
.film-review {
    font-size: 1.2em;
}
.well {
    border-color: #dddddd;
    background-color: #f1f1f1;
}
.film-send-comment .btn {
    float: right;
}
.pg {
    margin-bottom: 60px;
}
.embed-responsive {
    border-radius: 4px 4px 0 0;
}